:root {
  --primary: #ce0f14;
  --dark: #0a063a;
  --sectionbg: #f5efef;
  --cardbg: #f7faf7;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}
